<div class="header container-fluid col-md-12" >
    <div class="header_logo col-md-12">
        <?php   
            if(!empty($general_logo_header_imagen))
            {

                echo "<div class='marco'>";
                echo $this->Html->link(
                    $this->Html->image($general_logo_header_imagen, array('alt'=> __('logo'), 'border' => '0','class'=>"center-block img-responsive")),
                    "/", // no ahce falta poner el controller pages porque hay una ruta, array('controller'=>'','action'=>'home')
                    array('escape' => false)
                );                
                echo "</div>";
                echo"&nbsp";
            }
        ?>            
    </div>      
</div>
    
    
