<div id="" class="  col-xs-12
                    text-center">
                                
            <div    id="cartel"
                    class="
                            col-xs-12
                            col-sm-offset-3
                            col-sm-6                                                            
                    ">
                
                <div id="cartel-interno" class=" col-xs-12">
                    <h2>Su compra se realizó con éxito!</h2>
                    <br/>
                    <h4>Gracias por confiar en</h4>
                    <br>
                    <h3>MEGAMODA</h3>
                </div>
                       
            </div>        
</div>