<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<?php

    echo "<h2>¡Hola " .  $user->nombre . "! <h2/>";
    echo "<p> Esta es tu nueva orden en MEGAMODA </p>";
    echo "<p> En breve nos comunicaremos para continuar el proceso de compra. A continuación te mostramos los detalles de tu orden: </p> <br/>";
    
    echo $this->element('compramail');
?>
